@page
@model Frontend.Pages.DeleteEntModel
@{
    ViewData["Title"]="Delete";
}
<br>
<br>
<br>
<br>

<h1>Borrar entrenadores</h1>
<br>
<h4>Entrenador</h4>

<div class="form-horizontal">        
        <hr />        
        <div class="row">
           <div class="col-md-4">
               <form method="post">                   
                   <input type="hidden" asp-for="Entrenador.id" />
                   <div class="form-group">
                        <label asp-for="Entrenador.Documento" class="control-label"></label>
                        <input asp-for="Entrenador.Documento" class="form-control" readonly/>
                        <label asp-for="Entrenador.Nombres" class="control-label"></label>
                        <input asp-for="Entrenador.Nombres" class="form-control" readonly/>
                        <label asp-for="Entrenador.Apellidos" class="control-label"></label>
                        <input asp-for="Entrenador.Apellidos" class="form-control" readonly/>
                        <label asp-for="Entrenador.Genero" class="control-label">Género</label>
                        <input asp-for="Entrenador.Genero" class="form-control" readonly />
                        <label asp-for="Entrenador.DisciplinaDeportiva" class="control-label">Disciplina feportiva</label>
                        <input asp-for="Entrenador.DisciplinaDeportiva" class="form-control" readonly/>
                        <label asp-for="Entrenador.EquipoId" class="control-label">Equipo</label>
                        <select name="" id="" asp-for="Entrenador.EquipoId" class="form-control"disabled> 
                        <option value="" >**Selecione un Equipo**</option>
                        @foreach (var equi in Model.Equipo)
                        {
                            <option value="@equi.id">@equi.Nombre</option>
                        }
                    </select>                     
                        
                   </div>
                   <h5 class="text-danger">@ViewData["Mensaje"] </h5>
                   <div class="form-group">                       
                       <input type="submit" value="Eliminar" class="btn btn-success"/>                       
                   </div>
               </form>
           </div>
        </div>
<br>
        <div>
            <a asp-page="EntIndex">Volver</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

