@page
@model Frontend.Pages.DetailsEntModel
@{
}

<h1>Detalles de los Entrenadores</h1>
<h4>Entrenador</h4>

<div class="form-horizontal">
        
        <hr />
        
        <div class="row">
           <div class="col-md-4">
               <form method="post">
                   
                   <input type="hidden" asp-for="Entrenador.id" />
                    <!-- <div class="form-group">
                       <label asp-for="Entrenador.id" class="control-label"> </label>
                       <input asp-for="Entrenador.id"  class="form-control" readonly/>                       
                   </div> -->

                   <div class="form-group">
                       <label asp-for="Entrenador.Nombres" class="control-label"> </label>
                       <input asp-for="Entrenador.Nombres"  class="form-control" readonly/>                       
                       <label asp-for="Entrenador.Apellidos" class="control-label"> </label>
                       <input asp-for="Entrenador.Apellidos"  class="form-control" readonly/> 
                   </div>

                   <div class="form-group">
                       <label asp-for="Entrenador.Genero" class="control-label"> </label>
                       <input asp-for="Entrenador.Genero"  class="form-control" readonly/>
                       <label asp-for="Entrenador.DisciplinaDeportiva" class="control-label"> </label>
                       <input asp-for="Entrenador.DisciplinaDeportiva"  class="form-control" readonly/>   
                       <label asp-for="Entrenador.EquipoId" class="control-label"> </label>
                       <input asp-for="Entrenador.EquipoId"  class="form-control" readonly/>                      
                   </div>
                   
               </form>
           </div>
        </div>

        <div>
            <a asp-page="EntIndex"> Ir a Inicio</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
