@page
@model Frontend.Pages.EditModel
@{
    ViewData["Title"]="Edit";
}

<br>
<br>
<br>
<br>

<h1>Editar Municipios </h1>
<br>
<h4>Municipio</h4>
<h3 class="text-danger">@ViewData["Mensaje"]</h3>

<div class="form-horizontal">
        
        <hr />
        
        <div class="row">
           <div class="col-md-4">
               <form method="post">
                  
                   <input type="hidden" asp-for="Municipio.id" />
                   <div class="form-group">
                       <label asp-for="Municipio.Nombre" class="control-label"> </label>
                       <input asp-for="Municipio.Nombre"  class="form-control" readonly/>                      
                       
                   </div>
                   <br>
                   <div class="form-group">                       
<<<<<<< HEAD:Frontend/Pages/PEDMunicipio/Edit.cshtml
                       <input type="submit" value="Editar" class="btn btn-primary"/>                       
=======
                       <input type="submit" value="Editar" class="btn btn-success"/>                       
>>>>>>> a4a6cf4fae1c6d05301b84149df33ffaa2f4610e:Frontend/Pages/Municipio/Edit.cshtml
                   </div>
               </form>
           </div>
        </div>
        <br>
        <div>
            <a asp-page="MunIndex">Volver</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
