@page
@model Frontend.Pages.DetailsArbModel
@{
}
<br>
<br>
<br>
<br>

<h1>Detalles de los Arbitros</h1>
<br>
<h4>Arbitro</h4>

<div class="form-horizontal">
        
        <hr />
        
        <div class="row">
           <div class="col-md-4">
               <form method="post">
                   
                   <input type="hidden" asp-for="Arbitro.id" />
                    <!-- <div class="form-group">
                       <label asp-for="Arbitro.id" class="control-label"> </label>
                       <input asp-for="Arbitro.id"  class="form-control" readonly/>                       
                   </div> -->

                   <div class="form-group">
                       <label asp-for="Arbitro.Nombres" class="control-label"> </label>
                       <input asp-for="Arbitro.Nombres"  class="form-control" readonly/>                       
                       <label asp-for="Arbitro.Apellidos" class="control-label"> </label>
                       <input asp-for="Arbitro.Apellidos"  class="form-control" readonly/>
                         
                   </div>

                   <div class="form-group">
                       <label asp-for="Arbitro.Genero" class="control-label">Género</label>
                       <input asp-for="Arbitro.Genero"  class="form-control" readonly/>                       
                       
                   </div>

                   <div class="form-group">
                       <label asp-for="Arbitro.Disciplina" class="control-label"> </label>
                       <input asp-for="Arbitro.Disciplina"  class="form-control" readonly/>   
                       <label asp-for="Arbitro.TorneoId" class="control-label">Torneo</label>
                       <select asp-for="Arbitro.TorneoId" class="form-control"disabled> 
                             <option value="" >**Selecione un Torneo>**</option>
                             @foreach (var tor in Model.Torneo)
                              {
                                   <option value="@tor.id">@tor.Nombre</option>
                              }
                         </select>      
                       <label asp-for="Arbitro.EscuelaArbitroId" class="control-label">Escuela de arbitros</label>
                       <select asp-for="Arbitro.EscuelaArbitroId" class="form-control"disabled> 
                              <option value="" >**Selecione una Escuela>**</option>
                                @foreach (var EA in Model.EscuelaArbitro)
                                 {
                                      <option value="@EA.id">@EA.Nombre</option>
                                 }
                         </select>                 
                   </div>
                   
               </form>
           </div>
        </div>
<br>
        <div>
            <a asp-page="ArbIndex">Volver</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}



