@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
  <div id="tit">
    <h5 class="display-7" style="background-color: white;border-radius:40%;color:#0165A9;">Eventos Deportivos</h5>
  </div> 
    <hr style="background-color: #0165A9;height:4px;border-radius:50%;">

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000" >
      <img src="https://www.eazycityblog.com/wp-content/uploads/2016/05/Wikinews_Sports.png" class="d-block w-100" alt="..." style="height: 550px;" >
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="https://www.adn-mundo.com/wp-content/uploads/2021/08/eventos-deportivos-de-este-2021.jpg" class="d-block w-100" alt="..." style="height: 550px;" >
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src="https://i2.wp.com/noticiasenvivo.co/wp-content/uploads/2021/10/maxresdefault.jpg?w=1280&ssl=1" class="d-block w-100" alt="..." style="height: 550px;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    <hr style="background-color: #0165A9;height:4px;border-radius:50%;">
