@page
@model Frontend.Pages.DeleteEscModel
@{
    ViewData["Title"]="Delete";
}
<br>
<br>
<br>
<br>

<h1>Borrar Escenarios</h1>
<br>

<h4>Escenario</h4>

<div class="form-horizontal">        
        <hr />        
        <div class="row">
           <div class="col-md-4">
               <form method="post">                   
                   <input type="hidden" asp-for="Escenario.id" />
                   <div class="form-group">
                        <label asp-for="Escenario.Nombre" class="control-label"></label>
                        <input asp-for="Escenario.Nombre" class="form-control" readonly/>
                        <label asp-for="Escenario.Direccion" class="control-label">Dirección</label>
                        <input asp-for="Escenario.Direccion" class="form-control" readonly/>
                        <label asp-for="Escenario.Telefono" class="control-label">Teléfono</label>
                        <input asp-for="Escenario.Telefono" class="form-control" readonly/>
                        <label asp-for="Escenario.Horario" class="control-label"></label>
                        <input asp-for="Escenario.Horario" class="form-control" readonly/>
                        <label asp-for="Escenario.TorneoId" class="control-label">Torneo</label>
                        <select name="" id="" asp-for="Escenario.TorneoId" class="form-control" disabled>
                            <option value="">**Seleccione un Torneo**</option>
                            @foreach (var tor in Model.Torneos)
                            {
                                <option value="@tor.id">@tor.Nombre</option>    
                            }             
                        </select>
                   </div>
                   <h5 class="text-danger">@ViewData["Mensaje"] </h5>
                   <div class="form-group">                       
                       <input type="submit" value="Eliminar" class="btn btn-success"/>                       
                   </div>
               </form>
           </div>
        </div>
<br>
        <div>
            <a asp-page="EscIndex">Volver</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


