@page
@model Frontend.Pages.DetailsEquModel
@{
}

<h1>Details</h1>
<h4>Equipo</h4>

<div class="form-horizontal">
        
        <hr />
        
        <div class="row">
           <div class="col-md-4">
               <form method="post">
                   
                   <input type="hidden" asp-for="Equipo.id" />
                    <div class="form-group">
                       <label asp-for="Equipo.id" class="control-label"> </label>
                       <input asp-for="Equipo.id"  class="form-control" readonly/>                       
                   </div>

                   <div class="form-group">
                       <label asp-for="Equipo.Nombre" class="control-label"> </label>
                       <input asp-for="Equipo.Nombre"  class="form-control" readonly/>                       
                       <label asp-for="Equipo.CantidadDeportistas" class="control-label">Cantidad de deportistas</label>
                       <input asp-for="Equipo.CantidadDeportistas"  class="form-control" readonly/>
                       <label asp-for="Equipo.Disciplina" class="control-label"> </label>
                       <input asp-for="Equipo.Disciplina"  class="form-control" readonly/>  
                   </div>

                   <div class="form-group">
                       <label asp-for="Equipo.PatrocinadorId" class="control-label">Id del patrocinador</label>
                       <input asp-for="Equipo.PatrocinadorId"  class="form-control" readonly/>                       
                   </div>

                   
                   
               </form>
           </div>
        </div>

        <div>
            <a asp-page="EquIndex"> Back to List</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

