@page
@model Frontend.Pages.DetailsTorModel
@{
}

<h1>Details</h1>
<h4>Torneo</h4>

<div class="form-horizontal">
        
        <hr />
        
        <div class="row">
           <div class="col-md-4">
               <form method="post">
                   
                   <input type="hidden" asp-for="Torneo.id" />
                    <div class="form-group">
                       <label asp-for="Torneo.id" class="control-label"> </label>
                       <input asp-for="Torneo.id"  class="form-control" readonly/>                       
                   </div>

                   <div class="form-group">
                        <label asp-for="Torneo.Nombre" class="control-label"></label>
                        <input asp-for="Torneo.Nombre" class="form-control" readonly/>
                        <label asp-for="Torneo.Categoria" class="control-label"></label>
                        <input asp-for="Torneo.Categoria" class="form-control" readonly/>
                   </div>

                   <div class="form-group">
                        <label asp-for="Torneo.FechaInicial" class="control-label">Fecha de inicio</label>
                        <input asp-for="Torneo.FechaInicial" class="form-control" readonly/>
                        <label asp-for="Torneo.Tipo" class="control-label"></label>
                        <input asp-for="Torneo.Tipo" class="form-control" readonly/>
                   </div>

                   <div class="form-group">
                       <label asp-for="Torneo.MunicipioId" class="control-label">Id del Municipio</label>
                       <select name="" id="" asp-for="Torneo.MunicipioId" class="form-control" disabled  >
                            <option value="">**Seleccione un Municipio**</option>
                            @foreach (var mun in Model.Municipios)
                            {
                                <option value="@mun.id">@mun.Nombre</option>    
                            }             
                        </select>                     
                   </div>
                   
               </form>
           </div>
        </div>

        <div>
            <a asp-page="TorIndex"> Back to List</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
