@page
@model Frontend.Pages.TorEquDeleteModel
@{
     ViewData["Title"]="Delete";
}
<br>
<br>
<br>
<br>

<h1>Borrar equipo inscrito al torneo</h1>
<br>

<h4>Equipo</h4>

<div class="form-horizontal">        
        <hr />        
        <div class="row">
           <div class="col-md-4">
               <form method="post">                   
                   <input type="hidden" asp-for="TorneoEquipo.TorneoId" />
                   <input type="hidden" asp-for="TorneoEquipo.EquipoId" />
                   <div class="form-group">
                
                    <label asp-for="Torneo.Nombre" class="control-label">Torneo</label>
                    <input asp-for="Torneo.Nombre" class="form-control" readonly>

                    <label asp-for="Equipo.Nombre" class="control-label">Equipo</label>
                    <input asp-for="Equipo.Nombre" class="form-control" readonly>

                   </div>
                   <h5 class="text-danger">@ViewData["Mensaje"] </h5>
                   <div class="form-group">                       
                       <input type="submit" value="Eliminar equipo del torneo" class="btn btn-success"/>                       
                   </div>
               </form>
           </div>
        </div>
<br>
        <div>
            <a asp-page="TorEquIndex">Volver</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


