@page
@model Frontend.Pages.DeleteEquModel
@{
     ViewData["Title"]="Delete";
}
<br>
<br>
<br>
<br>

<h1>Borrar Equipos</h1>
<br>
<h4>Equipo</h4>

<div class="form-horizontal">        
        <hr />        
        <div class="row">
           <div class="col-md-4">
               <form method="post">                   
                   <input type="hidden" asp-for="Equipo.id" />
                   <div class="form-group">
                       <label asp-for="Equipo.Nombre" class="control-label"> </label>
                       <input asp-for="Equipo.Nombre" readonly class="form-control"/> 
                       <label asp-for="Equipo.CantidadDeportistas" class="control-label"> Cantidad de deportistas</label>
                       <input asp-for="Equipo.CantidadDeportistas" readonly class="form-control"/>
                       <label asp-for="Equipo.Disciplina" class="control-label"> </label>
                       <input asp-for="Equipo.Disciplina" readonly class="form-control"/>
                       <label asp-for="Equipo.PatrocinadorId" class="control-label">Patrocinador</label>
                       <select name="" id="" asp-for="Equipo.PatrocinadorId" class="form-control"disabled> 
                        <option value="" >**Selecione un Patrocinador>**</option>
                        @foreach (var pat in Model.Patrocinador)
                        {
                            <option value="@pat.id">@pat.Nombre</option>
                        }                    
                       </select>                      
                        
                   </div>

                    <h5 class="text-danger">@ViewData["Mensaje"] </h5>

                   <div class="form-group">                       
                       <input type="submit" value="Eliminar" class="btn btn-success"/>                       
                   </div>
               </form>
           </div>
        </div>
<br>
        <div>
            <a asp-page="EquIndex">Volver</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
