@page
@model Frontend.Pages.EditEquModel
@{
    ViewData["Title"]="Edit";
}
<br>
<b>
<br>
<br>

</b>
<h1>Editar equipos </h1>
<br>
<h4>Equipo</h4>

<h3 class="text-danger">@ViewData["Mensaje"]</h3>

<div class="form-horizontal">
        
        <hr />
        
        <div class="row">
           <div class="col-md-4">
               <form method="post">
                  
                   <input type="hidden" asp-for="Equipo.id" />
                   <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
                   <div class="form-group">
                    <label asp-for="Equipo.Nombre" class="control-label"></label>
                    <input asp-for="Equipo.Nombre" class="form-control" readonly/>
                    <label asp-for="Equipo.CantidadDeportistas" class="control-label">Cantidad de deportistas</label>
                    <input asp-for="Equipo.CantidadDeportistas" class="form-control" />
                    <span asp-validation-for="Equipo.CantidadDeportistas" class="text-danger"></span>
                    <label asp-for="Equipo.Disciplina" class="control-label"></label>
                    <input asp-for="Equipo.Disciplina" class="form-control" />
                    <span asp-validation-for="Equipo.Disciplina" class="text-danger"></span>
                    <label asp-for="Equipo.PatrocinadorId" class="control-label">Patrocinador</label>
                    <select asp-for="Equipo.PatrocinadorId" class="form-control"> 
                        <option value="" >**Selecione un Patrocinador>**</option>
                        @foreach (var pat in Model.Patrocinador)
                        {
                            <option value="@pat.id">@pat.Nombre</option>
                        }
                    </select>
                    <span asp-validation-for="Equipo.PatrocinadorId" class="text-danger"></span>
                   </div>
                   <br>

                   <div class="form-group">                       
                       <input type="submit" value="Editar" class="btn btn-success"/>                       
                   </div>
               </form>
           </div>
        </div>
<br>
        <div>
            <a asp-page="EquIndex">Volver</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

