@page
@model Frontend.Pages.EditPatrocinadorModel
@{
    ViewData["Title"]="Edit";
}
<br>
<br>
<br>
<br>

<h1>Editar Patrocinadores </h1>
<br>
<h4>Patrocinador</h4>


<h3 class="text-danger">@ViewData["Mensaje"]</h3>

<div class="form-horizontal">  
        <hr />    
        <div class="row">
           <div class="col-md-4">
               <form method="post">
                   <input type="hidden" asp-for="Patrocinador.id" />
                   <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
                   <div class="form-group">
                    <label asp-for="Patrocinador.Identificacion" class="control-label">Identificación</label>
                    <input asp-for="Patrocinador.Identificacion" class="form-control" readonly/>
                    <label asp-for="Patrocinador.Nombre" class="control-label"> </label>
                    <input asp-for="Patrocinador.Nombre" class="form-control" />
<<<<<<< HEAD:Frontend/Pages/PEDPatrocinador/EditPatrocinador.cshtml
                    <span asp-validation-for="Patrocinador.Nombre" class="text-danger"></span>
                    <label asp-for="Patrocinador.tipoPersona" class="control-label"> </label>
                    <input asp-for="Patrocinador.tipoPersona" class="form-control" />
                    <span asp-validation-for="Patrocinador.tipoPersona" class="text-danger"></span>
                    <label asp-for="Patrocinador.Direccion" class="control-label"> </label>
                    <input asp-for="Patrocinador.Direccion" class="form-control" />
                    <span asp-validation-for="Patrocinador.Direccion" class="text-danger"></span>
                    <label asp-for="Patrocinador.Telefono" class="control-label"> </label>
                    <input asp-for="Patrocinador.Telefono" class="form-control" /> 
                    <span asp-validation-for="Patrocinador.Telefono" class="text-danger"></span>                    
=======
                    <label asp-for="Patrocinador.tipoPersona" class="control-label">Tipo de persona</label>
                    <input asp-for="Patrocinador.tipoPersona" class="form-control" />
                    <label asp-for="Patrocinador.Direccion" class="control-label">Dirección</label>
                    <input asp-for="Patrocinador.Direccion" class="form-control" />
                    <label asp-for="Patrocinador.Telefono" class="control-label">Teléfono</label>
                    <input asp-for="Patrocinador.Telefono" class="form-control" />                     
>>>>>>> a4a6cf4fae1c6d05301b84149df33ffaa2f4610e:Frontend/Pages/Patrocinador/EditPatrocinador.cshtml
                   </div>
                   <br>

                   <div class="form-group">                       
<<<<<<< HEAD:Frontend/Pages/PEDPatrocinador/EditPatrocinador.cshtml
                       <input type="submit" value="Editar" class="btn btn-primary"/>                       
=======
                       <input type="submit" value="Editar" class="btn btn-success"/>                       
>>>>>>> a4a6cf4fae1c6d05301b84149df33ffaa2f4610e:Frontend/Pages/Patrocinador/EditPatrocinador.cshtml
                   </div>
               </form>
           </div>
        </div>
<br>
        <div>
            <a asp-page="PIndex">Volver</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
    }
}

