@page
@model Frontend.Pages.DeleteModel
@{
    ViewData["Title"]="Delete";
}
<br>
<br>
<br>
<br>
<h1>Borrar Municipios</h1>
<br>
<h4>Municipio</h4>

<div class="form-horizontal">        
        <hr />        
        <div class="row">
           <div class="col-md-4">
               <form method="post">                   
                   <input type="hidden" asp-for="Municipio.id" />
                   <div class="form-group">
                       <label asp-for="Municipio.Nombre" class="control-label"> </label>
                       <input asp-for="Municipio.Nombre" readonly class="form-control"/>                    
                        
                   </div>
                   <h5 class="text-danger">@ViewData["Mensaje"] </h5>
                   <div class="form-group">                       
                       <input type="submit" value="Eliminar" class="btn btn-success"/>                       
                   </div>
               </form>
           </div>
        </div>
        <br>
        <div>
            <a asp-page="MunIndex">Volver</a>
        </div> 
        
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}