@page
@model Frontend.Pages.DeleteDepModel
@{
     ViewData["Title"]="Delete";
}
<br>
<br>
<br>
<br>
<h1>Borrar Deportistas</h1>
<h4>Deportista</h4>
<br>

<div class="form-horizontal">        
        <hr />        
        <div class="row">
           <div class="col-md-4">
               <form method="post">                   
                   <input type="hidden" asp-for="Deportista.id" />
                   <div class="form-group">
                       <label asp-for="Deportista.Documento" class="control-label"> </label>
                       <input asp-for="Deportista.Documento" readonly class="form-control"/> 
                       <label asp-for="Deportista.Nombres" class="control-label"> </label>
                       <input asp-for="Deportista.Nombres" readonly class="form-control"/>
                       <label asp-for="Deportista.Apellidos" class="control-label"> </label>
                       <input asp-for="Deportista.Apellidos" readonly class="form-control"/>
                       <label asp-for="Deportista.EquipoId" class="control-label">Deportista</label>
                       <select name="" id="" asp-for="Deportista.EquipoId" class="form-control"disabled> 
                        <option value="" >**Selecione un Equipo**</option>
                        @foreach (var equi in Model.Equipo)
                        {
                            <option value="@equi.id">@equi.Nombre</option>
                        }
                    </select>                    
                        
                   </div>
                   <h5 class="text-danger">@ViewData["Mensaje"] </h5>
                   <div class="form-group">                       
                       <input type="submit" value="Eliminar" class="btn btn-success"/>                       
                   </div>
               </form>
           </div>
        </div>
        <br>
        <div>
            <a asp-page="DepIndex">Volver</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

