@page
@model Frontend.Pages.EditPatrocinadorModel
@{
    ViewData["Title"]="Edit";
}
<h1>Edit Patrocinador </h1>
<h4>Patrocinador</h4>
<h3 class="text-danger">@ViewData["Mensaje"]</h3>

<div class="form-horizontal">  
        <hr />    
        <div class="row">
           <div class="col-md-4">
               <form method="post">
                   <input type="hidden" asp-for="Patrocinador.id" />
                   <div class="form-group">
                    <label asp-for="Patrocinador.Identificacion" class="control-label"> </label>
                    <input asp-for="Patrocinador.Identificacion" class="form-control" />
                    <label asp-for="Patrocinador.Nombre" class="control-label"> </label>
                    <input asp-for="Patrocinador.Nombre" class="form-control" />
                    <label asp-for="Patrocinador.tipoPersona" class="control-label"> </label>
                    <input asp-for="Patrocinador.tipoPersona" class="form-control" />
                    <label asp-for="Patrocinador.Direccion" class="control-label"> </label>
                    <input asp-for="Patrocinador.Direccion" class="form-control" />
                    <label asp-for="Patrocinador.Telefono" class="control-label"> </label>
                    <input asp-for="Patrocinador.Telefono" class="form-control" />                     
                   </div>
                   <div class="form-group">                       
                       <input type="submit" value="Edit" class="btn btn-primary"/>                       
                   </div>
               </form>
           </div>
        </div>

        <div>
            <a asp-page="PIndex"> Back to List</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
    }
}

