@page
@model Frontend.Pages.DetailsCEModel
@{
}

<h1>Detalles de las Canchas Espacios</h1>
<h4>Cancha Espacio</h4>

<div class="form-horizontal">
        
        <hr />
        
        <div class="row">
           <div class="col-md-4">
               <form method="post">
                   
                   <input type="hidden" asp-for="CanchaEspacio.id" />
                    <!-- <div class="form-group">
                       <label asp-for="CanchaEspacio.id" class="control-label"> </label>
                       <input asp-for="CanchaEspacio.id"  class="form-control" readonly/>                       
                   </div> -->

                   <div class="form-group">
                       <label asp-for="CanchaEspacio.Nombre" class="control-label"> </label>
                       <input asp-for="CanchaEspacio.Nombre"  class="form-control" readonly/>                       
                       <label asp-for="CanchaEspacio.Disciplina" class="control-label"> </label>
                       <input asp-for="CanchaEspacio.Disciplina"  class="form-control" readonly/> 
                   </div>

                   <div class="form-group">
                       <label asp-for="CanchaEspacio.Estado" class="control-label"> </label>
                       <input asp-for="CanchaEspacio.Estado"  class="form-control" readonly/>
                       <label asp-for="CanchaEspacio.CapacidadEspectadores" class="control-label"> </label>
                       <input asp-for="CanchaEspacio.CapacidadEspectadores"  class="form-control" readonly/>   
                       <label asp-for="CanchaEspacio.EscenarioId" class="control-label">Escenario</label>
                       <select name="" id="" asp-for="CanchaEspacio.EscenarioId" class="form-control" disabled>
                            <option value="" >**Seleccione una CanchaEspacio** </option>
                            @foreach (var canesp in Model.Escenarios)
                            {
                                <option value="@canesp.id">@canesp.Nombre</option>  
                            } 
                       </select>                    
                   </div>
                   
               </form>
           </div>
        </div>

        <div>
            <a asp-page="CEIndex"> Ir a Inicio</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
