@page
@model Frontend.Pages.EditCEModel
@{
    ViewData["Title"]="Edit";
}
<br>
<br>
<br>
<br>

<h1>Editar canchas </h1>
<br>
<h4>Cancha</h4>
<h3 class="text-danger">@ViewData["Mensaje"]</h3>

<div class="form-horizontal">
        
        <hr />
        
        <div class="row">
           <div class="col-md-4">
               <form method="post">
                  
                   <input type="hidden" asp-for="CanchaEspacio.id" />
                   <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
                   <div class="form-group">
                    <label asp-for="CanchaEspacio.Nombre" class="control-label"></label>
                    <input asp-for="CanchaEspacio.Nombre" class="form-control" readonly />
                    <label asp-for="CanchaEspacio.Disciplina" class="control-label"></label>
                    <input asp-for="CanchaEspacio.Disciplina" class="form-control" />
                    <span asp-validation-for="CanchaEspacio.Disciplina" class="text-danger"></span>
                    <label asp-for="CanchaEspacio.Estado" class="control-label"></label>
                    <input asp-for="CanchaEspacio.Estado" class="form-control" />
                    <span asp-validation-for="CanchaEspacio.Estado" class="text-danger"></span>
                    <label asp-for="CanchaEspacio.CapacidadEspectadores" class="control-label">Capacidad de espectadores</label>
                    <input asp-for="CanchaEspacio.CapacidadEspectadores" class="form-control" />
                    <span asp-validation-for="CanchaEspacio.CapacidadEspectadores" class="text-danger"></span>
                    <label asp-for="CanchaEspacio.Medidas" class="control-label"></label>
                    <input asp-for="CanchaEspacio.Medidas" class="form-control" />
                    <span asp-validation-for="CanchaEspacio.Medidas" class="text-danger"></span>
                    <label asp-for="CanchaEspacio.EscenarioId" class="control-label">Escenario</label>
                    <select asp-for="CanchaEspacio.EscenarioId" class="form-control" >
                        <option value="">**Seleccione una CanchaEspacio**</option>
                        @foreach (var esc in Model.Escenarios)
                        {
                            <option value="@esc.id">@esc.Nombre</option>
                            
                        }
                    </select>                    
                    <span asp-validation-for="CanchaEspacio.EscenarioId" class="text-danger"></span>
                   </div>
                   <br>
                   <div class="form-group">                       
                       <input type="submit" value="Editar" class="btn btn-success"/>                       
                   </div>
               </form>
           </div>
        </div>
<br>
        <div>
            <a asp-page="CEIndex">Volver</a>
        </div> 
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}




